body {
    background-color: hsl(30, 38%, 92%);
}
.container {
    display: flex;
    /*align-items: center; */
    gap: 30px;
    background-color: hsl(0, 0%, 100%);
    margin: 150px auto;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;
}
section {
    padding: 24px;
}
img {
    width: 50%;
    height: 100%;
    display: block;
    border-radius: 15px 0 0 15px;
    
}
.p1 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.price {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}
.p2 {
    color: green;
    font-size: x-large;
}
.cart {
    border: none;
    background-color: hsl(158, 36%, 37%);
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
}
.p3 {
    text-decoration: line-through;
} 


@media only screen and (max-width: 375px) {
    .container {
        flex-direction: column;
        padding-bottom: 24px;
        overflow: hidden;
    }
    img {
        width: 100%;
        border-radius: 0;
    }
    section {
        padding: 0 24px;
    }
}