html, body, picture {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: auto;
}

main {
    max-width: 800px;
    width: 100%;
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 0 auto;
}

h2 {
    font-family: "Montserrat", sans-serif;
}
section {
    padding: 36px 24px;
    max-height: 60%;
    height: 100%;
}

img {
    width: 100%;
    height: 480px;
    display: block;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    
}
.p1 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.price {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}
.p2 {
    color: green;
    font-size: x-large;
}
.cart {
    border: none;
    background-color: hsl(158, 36%, 37%);
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
}
.p3 {
    text-decoration: line-through;
} 


@media only screen and (max-width: 375px) {
    .container {
        flex-direction: column;
        overflow: auto;
        max-width: 100%;
    }
    img {
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
    section {
        max-height: 1000px;
    }
}